### AI BASE VARS ###
LLM_MODEL=qwen2.5-coder:7b
OLLAMA_URL=http://localhost:12434

### EMBEDDING MODEL ###
EMBEDDING_MODEL=nomic-embed-text
RERANK_MODEL=cross-encoder/ms-marco-MiniLM-L-12-v2

### CHROMA DB ###
CHROMA_HOST=localhost
CHROMA_PORT=8000

### THE v6 OBJECT STORAGE ###
# Generate these with:
# openssl rand -hex 32
GARAGE_RPC_SECRET=your_32_byte_hex_secret_here
GARAGE_ADMIN_TOKEN=your_admin_token_here
GARAGE_METRICS_TOKEN=your_metrics_token_here
