### AI BASE VARS ###
LLM_MODEL=qwen2.5-coder:7b
OLLAMA_URL=http://localhost:12434

### EMBEDDING MODEL ###
EMBEDDING_MODEL=nomic-embed-text
RERANK_MODEL=cross-encoder/ms-marco-MiniLM-L-12-v2

### CHROMA DB ###
CHROMA_HOST=localhost
CHROMA_PORT=8000